/* ブラウザがそれぞれ持っているCSSをリセットするための記述 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  width: 100%; /* 横幅いっぱい */
  height: 120px; /* 高さ120px */
  background-color: red; /* 背景色red */
}
.header-top {
  width: 100%; /* 横幅いっぱい */
  height: 70px; /* 高さ70px */
  background-color: hotpink; /* 背景色hotpink */
}

.header-bottom {
  width: 100%; /* 横幅いっぱい */
  height: 50px; /* 高さ50px */
  background-color: pink; /* 背景色pink */
}
.main-visual {
  width: 100%; /* 横幅いっぱい */
  height: 300px; /* 高さ300px */
  background-color: orange; /* 背景色orange */
}
.main-visual-content {
  width: 350px; /* 横幅350px */
  height: 300px; /* 親の高さに揃える */
  background-color: gold; /* 背景色gold */
}
.main {
  width: 100%; /* 横幅いっぱい */
  height: 1400px; /* 高さ1400px（多めに設定） */
  background-color: green; /* 背景色green */
}
.footer {
  width: 100%; /* 横幅いっぱい */
  height: 120px; /* 高さ120px */
  background-color: blue; /* 背景色blue */
}